article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*********************************
CONTAINER
**********************************/
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center; }

/*********************************
CONTEND
**********************************/
.contend {
  box-sizing: border-box;
  width: 1000px;
  height: 300px;
  padding: 40px; }

.contend_theme1 {
  background-color: #D1CFCE;
  border-radius: 20px 20px 0 0;
  margin: 0 auto; }

/*********************************
FOOTER
**********************************/
.footer {
  background: #579A72;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
  padding: 0.5em; }

.upper-case {
  text-transform: uppercase; }

.bg_img {
  background-image: url("../../assets/shutterstock_1485981242.png"); }

/*********************************
Theme 1
**********************************/
/*********************************
Theme 2
**********************************/
.title {
  font-size: 48px;
  text-align: center; }

.title_green {
  color: #37714C; }

/*********************************
Theme 3
**********************************/
.txt {
  width: 800px;
  font-size: 18px; }

.txt_center {
  margin: 0 auto; }

.txt_white {
  color: #FFFFFF;
  width: 700px; }

.txt_dark_gray {
  text-align: center;
  color: #3d3a3b; }

/*********************************
BUTTON
**********************************/
.btn {
  padding: 0.5em;
  box-sizing: border-box;
  height: 50px;
  width: 150px;
  margin: auto 0;
  background: #FFFFFF;
  color: #579A72;
  font-weight: bold; }

.btn_bordered {
  border: 0px solid;
  border-radius: 50px; }
