/*********************************
BACKGROUND
**********************************/
.bg{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.bg_img{
    background-image: url("../../assets/shutterstock_1485981242.png");
}
