/*********************************
BACKGROUND
**********************************/
.bg{
  
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
       
}
.bg_img{
    background-image: url("../../assets/shutterstock_1485981242.png");
}


