/*********************************
BUTTON
**********************************/
.btn{
    padding: 0.5em;  
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    margin: auto 0;
    background: $bg-color-btn;
    color: $font-color-btn;
    font-weight: bold;
}
.btn_bordered{
    border: 0px solid;
    border-radius: 50px;
}


