
$contend-bg-color: #D1CFCE;
/*********************************
CONTEND
**********************************/
.contend{
    box-sizing: border-box;
    width: 1000px;
    height: 300px;
    padding: 40px;
}
.contend_theme1{
    background-color: $contend-bg-color;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;
}



