/*********************************
TITLE
**********************************/
$font-color-green: #37714C;

.title{
    font-size: 48px;
    text-align: center;
}
.title_primary{
    color: $font-color-green;
}

